MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
EMBEDDING_MODEL=nomic-embed-text:latest
GENERATION_MODEL=llama3:latest
UPSTASH_REDIS_REST_URL=https://us1-redis.upstash.io/rest/v1/your-redis-instance
UPSTASH_REDIS_REST_TOKEN=your-upstash-token